

$bg-image: url(../images/bg.jpg);


$bnna-image: url(../images/banana-dance.gif);

//overlay-gradient-start/ens for translucent shapes
$ogs: 25%;
$oge: 25%;

$background-opacity: 0.96;
$overlay-opacity: 1;


// Should only be used once
@mixin page-background{

    // This is needed to have background past edge of page
    background: rgba($bg-color , $background-opacity);
    	
    background-image: $bg-image;
    background-attachment: fixed;
    background-size: cover;
    background-position: right bottom;

    &.dance-banana-a-go-go {
	background-image: $bnna-image;
	background-size: contain;
	background-position: right bottom;
    }
	
    &:after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($bg-color , $background-opacity);
	z-index: -1;
    }

    &.dance-banana-a-go-go:after {
	background: rgba($bg-color , 0.5);
    }
}


@mixin section-background{
    background: linear-gradient(to right,
				rgba($bg-color , 0) ,
				rgba($bg-color, $overlay-opacity) $ogs $oge,
				rgba($bg-color , 0) )
}


