


$show-bg-image: true;
$bg-image: url(../images/bg.jpg);

//overlay-gradient-start/ens for translucent shapes
$ogs: 25%;
$oge: 75%;

$background-opacity: 0.96;
$overlay-opacity: 1;


// Should only be used once
@mixin page-background{

    // This is needed to have background past edge of page
    background: rgba($background-color , $background-opacity);
    
    @if $show-bg-image {	
	background-image: $bg-image;
	background-attachment: fixed;
	background-size: cover;
    }
    &:after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($background-color , $background-opacity);
	z-index: -1;
    }
}


@mixin section-background{
    background: linear-gradient(to right,
				rgba($background-color , 0) ,
				rgba($background-color, $overlay-opacity) $ogs $oge,
				rgba($background-color , 0) )
}


