

// Kind of a hack 
//
// Used in navbar/links & responsive/navbar/content
//
// Using a mixin to satisfy DRY as in responsive/navbar/content we need to reapply
// all these rules to overwrite the &.hide overwrites declared in navbar/links
// (when we stop hiding the CV button on smaller layouts)
@mixin cv-link-animated-config{
    
    width: $cv-button-width;
    
    padding: $nav-link-padding-top
	     $nav-link-padding-right
	     $nav-link-padding-bottom
	     $nav-link-padding-right;
    
    visibility: visible;
    a {
	border: 2px solid $color-3;
    }
}

