

// TODO 
$minimum-width: 360px;
$scale-padding: 4rem;
$no-scale-padding: 34px;
$bottom-nav-bar-gap: 1rem;
$separator-width: 3px;

// TODO rem-ify above




//------------------------------------------------ Site-wide

// Left and right margins/padding can be zero for
// insert block as there is padding on main element
$insert-block-margin-top: 0;
$insert-block-margin-right: 0;
$insert-block-margin-bottom: 32px;
$insert-block-margin-left: 0;

$insert-block-padding-top: 32px;
$insert-block-padding-right: 0;
$insert-block-padding-bottom: 0;
$insert-block-padding-left: 0;

$default-font-size: 1.25rem;

$default-article-text-width: 700px;
$large-article-text-width: 700px; // TODO
$medium-article-text-width: 700px; // TODO
$small-article-text-width: 700px; // TODO
$xsmall-article-text-width: 700px;
$xxsmall-article-text-width: 700px;



$main-content-area-padding-top: 0; // Hug navbar
$main-content-area-padding-right: 15vw;
$main-content-area-padding-bottom: 4rem;
$main-content-area-padding-left: 15vw;




//-------------------------------------------------Navbar

$nav-block-height: 6.5rem;

$nav-block-padding: 1.5rem;
$nav-link-padding: $nav-block-padding;

$nav-bar-menu-button-padding: $nav-block-padding;


$page-title-padding-top: 0;
$page-title-padding-right: 1rem;
$page-title-padding-bottom: 0;
$page-title-padding-left: 0;

// Navbar container dimens
$navbar-padding-top: 0; 
$navbar-padding-right: $no-scale-padding;
$navbar-padding-bottom: 0;
$navbar-padding-left: $no-scale-padding;
//-
$navbar-margin-top: 0;
$navbar-margin-right: $no-scale-padding;
$navbar-margin-bottom: 0;
$navbar-margin-left: $no-scale-padding;


// nav-link Home/Contact/Blog etc. buttons
$nav-link-padding-top: 0; // could also be as below
$nav-link-padding-right: $nav-link-padding;
$nav-link-padding-bottom: 0; // could also be as below
$nav-link-padding-left: $nav-link-padding;


//Separator Widths
//
$logo-title-separator-width: 1.2rem;
// Both use the same def. for symmetry
$button-separator-and-page-title-separator-width: 0.2rem;

$cv-button-width: 10rem;
$cv-button-height: $nav-block-height;
$cv-button-link-width: auto;
$cv-button-link-height: auto;

$cv-button-padding-top: 0.8rem;
$cv-button-padding-right: 1rem;
$cv-button-padding-bottom: 0.8rem;
$cv-button-padding-left: 1rem;




