



$default-font-size: 1.125rem;// Roughly equiv to css large value
$default-small-font-size: 0.875rem;
$default-large-font-size: 1.5rem;// Roughly equiv to css x-large

$indent-small-layout: 10vw;


$content-max-width: 66.25rem;




// Text width on all layouts small
//$small-text-width: 70vw;


$bold-font-weight: 600;
// Aim for max 75 character width as per
// the dictates of the typography cartel
$default-text-width: 45rem;




$nav-bar-margin: 2rem;


$thumbnail-width-default: 20.8125em; // ~ 300px on index (@ font-size: 90%)
$thumbnail-height-default: 13.888em; // ~ 200px on index (@ font-size: 90%)

$thumbnail-width-large: 15.624em; // ~ 225px on index (@ font-sie: 90%)
$thumbnail-height-large: 10.416em; // ~ 150px on index (@ font-size: 90%)

$thumbnail-width-small: 12.5em; // ~ 180px on index (@ font-sie: 90%)
$thumbnail-height-small: 8.333em; // ~ 120px on index (@ font-size: 90%)

$separator-width: 0.1875rem;
$separator-height: 80%;



// ---------------------------------------- page map ( icon stack + traffic light)


$page-map-height: 22.5rem;
$map-line-width: 0.625rem;


$map-circle-width: 0.125rem;
$map-style: double;

$stem-height: 50px;
$stem-width: $map-circle-width * 1.12;
$icon-stack-padding-top: 0.5rem;

$circle-size: 1.875rem;
$s-c-margin: 0.16666;
$sub-circle-margin: $s-c-margin * $circle-size;
$sub-circle-size: $circle-size - (2 * $sub-circle-margin) - (2 * $map-circle-width);

// Circles on small page when they're half off screen
$circ-grow-factor: 1.5;
$circle-size-small: $circle-size * $circ-grow-factor;
$s-c-margin-small: 0.16666;
$sub-circle-margin-small: $s-c-margin-small * $circle-size-small;
$sub-circle-size-small: $circle-size-small - (2 * $sub-circle-margin-small) - (2 * $map-circle-width * $circ-grow-factor);



//                                  -- Border counts in width --
//$sub-circle-radius: ($sub-circle-size + (2 * $map-circle-width)) / 2;

$icon-stem-padding-top: 16px;
$fixed-icon-size: $circle-size - ($s-c-margin * $circle-size);;
$fixed-icon-padding: 4px;


// ----------------------------------------- Index (page contents)

$terminal-font-size: 1.25rem;
$terminal-text-heading-margin-bottom: 1rem;

// ---------------------------------------- Blog




