
$oxford-blue: #0a192f;
$english-violet: #453b61;
$cyber-grape: #5f5286;

$yee2: #9283bb;
$yee1: #786aa0;

$razzmic-berry: #8e508a;
$goldenrod: #d5a021;
$cool-grey: #8892b0;
$magic-mint: #95f2d9;
$beige: #eff6e0;

$hot-pink: #ff69b4;
$deep-pink: #ff1493;
$easy-peeler: #fd6d26;
$banana-yellow: #f3c937;
$light-grey: #bbbbbb;


$background-color: $oxford-blue;
$foreground-color-light: $razzmic-berry;
$foreground-color-mid: $cyber-grape;
$foreground-color-dark: $english-violet;
$accent-color: $goldenrod;
$text-color: $cool-grey;

$color-1: $cool-grey;
$color-2: $yee1;
$color-3: $goldenrod;
$color-4: $cyber-grape;

$primary-color: #444;
$secondary-color: $light-grey;

$show-home-image: true;
$home-image: url(../images/bg.jpg);

$portrait-image: url(../images/portrait.jpg);
$portrait-image2: url(../images/threshold_portrait_orange.jpg);
$portrait-image3: url(../images/banana.jpg);

$background-opacity: 0.95;
$overlay-opacity: 1;

//overlay-gradient-start/ens
$ogs: 35%;
$oge: 65%;

$minimum-width: 360px;
$scale-padding: 4rem;
$no-scale-padding: 34px;
$bottom-nav-bar-gap: 1rem;

$separator-width: 3px;
$nav-block-padding: 16px;
$nav-block-height: 100px;

$ease-out-fast: 0.05s;
$ease-out-slow: 0.2s;

@mixin easeOutSlow{
    transition: all $ease-out-slow ease-out;
}

$tr: ease-out;
$s: $ease-out-fast;
@mixin easeOutNav{
    transition: height  $s $tr, visibility $s $tr, opacity $s $tr;
}

@mixin background{
    @if $show-home-image {
	
	background: $home-image;
	background-attachment: fixed;
	background-size: cover;
    }
    &:after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($background-color , $background-opacity);
	z-index: -1;
    }
}

@mixin foreground-background{
    background: linear-gradient(to right,
				rgba($background-color , 0) ,
				rgba($background-color, $overlay-opacity) $ogs $oge,
				rgba($background-color , 0) )
}

@mixin font-mono {
    font-family: "Fira Code", monospace;
}
@mixin font-vw {
    font-family: "Merriweather Sans", "Helvetica";
}
@mixin font-header {
    //font-family: "Overpass Mono", "Merriweather Sans", "Helvetica";
    font-family: "Merriweather Sans", "Helvetica";
}



// Media Query Mixins
// (Widescreen) Desktop First 
@mixin mXLarge {
    @media screen and (max-width: 120.4em) {
	@content;
    }
}

@mixin mLarge {
    @media screen and (max-width: 86.3em) {
	@content;
    }
}

@mixin mMedium {
    @media screen and (max-width: 60.1em) {
	@content;
    }
}

@mixin mSmall {
    @media screen and (max-width: 52.5em) {
	@content;
    }
}

@mixin mXSmall {
    @media screen and (max-width: 40em) {
	@content;
    }
}

// Small screen & massive font-size only
@mixin mXXSmall {
    @media screen and (max-width: 30em) {
	@content;
    }
}



