

// Full desktop but not widescreen
@include mXLarge {

    // Shrink Nav-bar text-size
    .nav-text {
	font-size: medium;
    } 
}


// 2/3 Full Desktop
@include mLarge {

    // nav-bar now needs to wrap
    #nav-bar {
	flex-wrap: wrap;
    }
    
    #site-logo {
	display: none;
    }
    
    #page-title {
	// Position top-right in place of site-logo
	order: 1;
	flex: 1 1 auto;

	transition: initial;
	transition-delay: initial;

	&.show {
	    display: flex;
	    // Stop expanding into free space so nav-lin1/2 can instead
	    flex: 0 1 auto;
	    border-bottom: ($separator-width / 2) solid $foreground-color-mid;
	    opacity: 1;
	    visibility: visible;
	    width: fit-content;
	    .separator {
		display: initial;
		margin-right: 0.2rem;
	    }
	}
 
	
    }

    
    .end-block { // button block
	order: 4;

	&.show {
	    border-bottom: ($separator-width / 2) solid $foreground-color-mid;
	    // Separator-width / 2 so border between nav-link buttons are slighlty
	    // thinner than between all buttons and pagetitle/button
	}
	
    }


    #nav-link1 {
	order: 2;
	flex: 1 1 30%;
	border-bottom: ($separator-width / 2) solid $foreground-color-mid;
	border-right: ($separator-width / 2) solid $foreground-color-mid;
    }

    #nav-link2 {
	order: 3;
	flex: 1 1 30%;
	border-bottom: ($separator-width / 2) solid $foreground-color-mid;
    }

    #nav-link3 {
	order: 5;
	flex: 1 1 30%;
	border-right: ($separator-width / 2) solid $foreground-color-mid;
	padding: 0;
    }

    #nav-link4 {
	order: 6;
	flex: 1 1 30%;
	border-right: ($separator-width / 2) solid $foreground-color-mid;
	padding: 0;
    }

    #nav-link5 {
	order: 7;
	flex: 1 1 30%;
	padding: 0;
    }
    
}

// Half-desktop
@include mMedium {
    
    #nav-bar {
	padding-right: 0;
	padding-left: 0;
    }
}

// Tablet
@include mSmall {

    
    #page-title, #page-title.show {
	// Restart expanding into free space to force animated-button top right
	// (now that there's only title and button on top row)
	// Also, take up more than 50% to force navs below
	flex: 1 1 50%;

	
	//justify-content: center;
	padding-left: 1rem;
	border-bottom-width: $separator-width;

	
	.separator {
	    display: none; // only one separator between title and button needed
	    margin-right: 0.2rem;
	}
    }
	
    .end-block { // button block
	order: 2; // top right still
	
	&.show {
	    border-bottom: $separator-width solid $foreground-color-mid;
	}
    }

    #nav-link1 {
	order: 3;
	flex: 1 1 45%;
    }

    #nav-link2 {
	order: 4;
	flex: 1 1 45%;
    }

    #nav-link3 {
	order: 5;
	border-right: initial;
	border-bottom: ($separator-width / 2) solid $foreground-color-mid;
	flex: 1 1 80%;
	// 80% for this effect:
	//   |  1   |  2   |
	//   |     3      |
	//   |  4  |  5   |
    }

    #nav-link4 {
	order: 6;
	flex: 1 1 45%;
    }

    #nav-link5 {
	order: 7;
	flex: 1 1 45%;
    }
    
}

// Smartphones
@include mXSmall {

    
    #page-title {
	min-width: 70%;
    }

    
    #nav-link1 {
	order: 3;
	flex: 2 1 25%;
    }

    #nav-link2 {
	order: 4;
	flex: 3 1 25%;
    }

    
}

// Smartphones
@include mXXSmall {


    #page-title {
	min-width: 60%;
    }

    
// Super limited for space
// so now want single file:
// i.e.
//  |     nav-1     |
//  ----------------
//  |      nav-2    |
//  ----------------
//  |     nav-3     | 
//  ----------------
//         .
//         .
//         .  

    
    #nav-link1 {
	order: 3;
	flex: 2 1 51%;
	border-right: initial;
    }

    #nav-link2 {
	order: 4;
	flex: 3 1 51%;
    }

    #nav-link3 {
	order: 5;
	border-right: initial;
	border-bottom: ($separator-width / 2) solid $foreground-color-mid;
	flex: 1 1 51%;
    }

    #nav-link4 {
	order: 6;
	flex: 1 1 51%;
	border-right: initial;
	border-bottom: ($separator-width / 2) solid $foreground-color-mid;
    }

    #nav-link5 {
	order: 7;
	flex: 1 1 51%;
	border-bottom: ($separator-width / 2) solid $foreground-color-mid;
    }
    
}




