


// Nav bar container
#nav-bar {
    @include section-background;

    padding: $navbar-padding-top
	     $navbar-padding-right
	     $navbar-padding-bottom
	     $navbar-padding-left;
    
    margin: $navbar-margin-top
	    $navbar-margin-right
	    $navbar-margin-bottom
	    $navbar-margin-left;
    
    display: flex;

    // How items are laid out along the cross axis
    // (stretch to navbar height)
    // (stretch is actually default so this isn't needed)
    align-items: stretch;


    // Main axis spacing
    // Center =   ...|||....
    justify-content: center;

}

#show-button-container {
    padding: $nav-bar-menu-button-padding;
    cursor: pointer;
}

#show-button-container:hover {
    //?
    @include easeOutSlow;
    background: $color-4;
}




