

.nav-block {

    // This may seem overkill on each single navlink/block item (coming from
    // Android development, nested flexible layouts raises alarm bells for me)
    // but it seems to be the most sensible way to center things in CSS these days.
    // Apparently flexbox is pretty performant so not a big worry.
    display: flex;
    // Main axis
    justify-content: center;
    // Cross axis
    align-items: center;
    // The combination of the above are responsible for the centering
    
    overflow: hidden;
    height: $nav-block-height;


    a {
	// Probably a better way of doing this but to get the text
	// to center inside the link (necessary as want the link to
	// be larger than the text and background color change on
	// whole square/button) it seems that the best way to go about
	// it is to make the <a...> itself a flexbox and align center
	// (Getting the feel that flexbox is the solution to everything tbh)
	display: flex;
	justify-content: center;
	align-items: center;
    }

    // Eliminate default styling for <p>'s
    p {
	margin: 0;
    }
	
}

.end-block .separator {
    margin-left: $button-separator-and-page-title-separator-width;
    margin-right: $button-separator-and-page-title-separator-width;
}


// nav-break's used to force newline in the flex layout
// only needed on smaller layouts so display none by default
.nav-break {
    height: 0;
    flex-basis: 100%;
    display: none;
}

    

#site-logo {
    .separator {
	margin-left: $logo-title-separator-width;
	margin-right: $logo-title-separator-width;
    }
}


// FRASER BROOKS | ... 
#site-logo {
    .nav-text {
	color: $color-3;
    }
}


// e.g. Home / Blog / Contact 
#page-title {

    // Grow to claim empty space in navbar, thus
    // separating lhs of navbar from rhs
    flex-grow: 1;
    
    justify-content: left;
    padding: 0;
    
    p {
	padding: $page-title-padding-top
		 $page-title-padding-right
		 $page-title-padding-bottom
		 $page-title-padding-left;
    }
	
    .separator {
	margin-left: $button-separator-and-page-title-separator-width;
	margin-right: $button-separator-and-page-title-separator-width;
	// This separator is hidden by default in the standard
	// desktop 1920p layout and only shown in smaller layouts
	// WHEN the context/nav menu is displayed.
	display: none;
    }
    
    min-width: fit-content;
    width: fit-content;

    // TODO needed?
    margin-right: auto;

}



