

.nav-text {
    
    @include font-mono;

    // Shouldn't ever be any overflow anyway
    overflow: hidden;
    // ALign center (only comes into effect when text wraps onto multiple lines)
    text-align: center;

    
    font-size: large;
    
    
    p {
	@include font-mono;
	font-size: large;
    }

    @include flex-hover-underline-p($color-1, 100% );
    
}


// current page (added in JS)
.current-page-link {

    pointer-events: none;
    
    a {
	p {
	    color : $color-3;
	}
    }
}


#site-logo , #page-title {
    .nav-text {	
	font-size: x-large;
	font-weight: 550;
    }
}


// FRASER BROOKS | ... 
#site-logo {
    .nav-text {
	white-space: nowrap;
	color: $color-3;
    }
}
#small-site-logo {
    color: $color-3;
}


#cv-link {

    overflow: hidden;

    
    a {
	
	p {color : $color-3}
	&:hover {
	    p {
		color: black;
	    }
	}
	
	@include flex-hover-underline-p(black, 105%);
    }
}




