


// Roughly 4k
@include mStupidLarge {
}

// Above roughly 3000px width
@include mXXLarge {
}

// (Widescreen) Desktop First 
@include mXLarge {
}

// 2/3rd desktop
@include mLarge {

    // nav-bar now needs to wrap
    #nav-bar {
	flex-wrap: wrap;
    }

    #page-title {
	order: 1;
    }
    
    // Allow growth and shrink
    #nav-link1 {
	order: 2;
	flex-grow: 1;
	flex-shrink: 1;
    }
    #nav-link2 {
	order: 3;
	flex-grow: 1;
	flex-shrink: 1;
    }

    #cv-link {
	order: 4;
    }

    .end-block { // button block
	order: 5;
    }
    
    #break1 { order: 6; }
    
    #nav-link3 {
	order: 7;
	flex-grow: 1;
	flex-shrink: 1;
    }
    #nav-link4 {
	order: 8;
	flex-grow: 1;
	flex-shrink: 1;
    }
    #nav-link5 {
	order: 9;
	flex-grow: 1;
	flex-shrink: 1;
    }
}

// Exactly half desktop
@include mMedium {
}

// First smaller than half desktop
// Size of some tablets
// Navbar now 3 rows & CV button now centered:
//
//    HOME  |CV|    X
//    --------------    
//   |  1   |  2   |
//   |     3      |
//   |  4  |  5   |
//   -------------
//
@include mSmall { // 832px w/ default font-size
        #page-title {

	// TODO needed??
	p {
	    padding: 0;
	}
	//justify-content: center;
	
    }


    
    #cv-link {
	// This has the effect of telling the button
	// to not affect anything else on the page
	// in terms of positioning but without
	// any top, left, etc. will result in
	// the button just floating in the center
	// of the navbar
	position: absolute;

	// Center
	justify-content: center;

	// Remove padding else it may overlap button
	// now we are positioning absolutely
	padding: 0;

	// Below menu button
	z-index: 1;
	
    }
    
        
    .end-block { // button block
	order: 3; // top right still
    }

    
    #break1 { order: 4; }

    
    #nav-link1 {
	order: 5;
    }
    #nav-link2 {
	order: 6;
    }

    #break2 { order: 7; }
    
    #nav-link3 {
	order: 8;
    }

    #break3 { order: 9; }
    
    #nav-link4 {
	order: 10;
    }
    #nav-link5 {
	order: 11;
    }
}

// All Tablets now
@include mXSmall { // 640px w/ default font-size
}

// Small screen & massive font-size only
// Now single file:
// i.e.
//  |     nav-1     |
//  ----------------
//  |      nav-2    |
//  ----------------
//  |     nav-3     | 
//  ----------------
//         .
//         .
//         .
//
@include mXXSmall { // 480px w/ default font-size
    #cv-link {
	a {
	    padding: $cv-button-padding-top/2
		     $cv-button-padding-right/2
		     $cv-button-padding-bottom/2
		     $cv-button-padding-left/2;
	}
    }
    #show-button-container {
	padding: $nav-bar-menu-button-padding/2;
    }    
    
    // Set all to flexbasis 51%
    // forcing newline for each
    #nav-link1 {
	flex-basis: 51%;
    }
    #nav-link2 {
	flex-basis: 51%;
    }
    #nav-link3 {
	flex-basis: 51%;
    }
    #nav-link4 {
	flex-basis: 51%;
    }
    #nav-link5 {
	flex-basis: 51%;
    }
}

// Ridiculously small/narrow for galaxy fold and kin
@include mStupidSmall { // 240px w/ default font-size
    #cv-link {
	a {
	    p {
		font-size: small;
	    }
	}
    }
}




