
////////////////////////////////////////////////////////////////////
// Mostly borders and one text change in this file



// Full desktop but not widescreen
@include mXLarge {
    // Shrink Nav-bar text-size
    .nav-text {
	font-size: medium;
    } 
}


// 2/3 Full Desktop
@include mLarge {


    // Switch to second logo
    #small-site-logo {
       display: flex;
       flex-direction: column;
    }

    #page-title {
	#title-container {
	    #small-site-logo {
		font-size: medium;
	    }
	}
    }

    
    #page-title {
	&.show {
	    border-bottom: ($separator-width / 2) solid $foreground-color-mid;
	}	
    }
    .end-block { // button block
	&.show {
	    border-bottom: ($separator-width / 2) solid $foreground-color-mid;
	    // Separator-width / 2 so border between nav-link buttons are slighlty
	    // thinner than between all buttons and pagetitle/button
	}	
    }
    #nav-link1 {
	border-bottom: ($separator-width / 2) solid $foreground-color-mid;
	border-right: ($separator-width / 2) solid $foreground-color-mid;
    }
    #nav-link2 {
	border-bottom: ($separator-width / 2) solid $foreground-color-mid;
    }
    #nav-link3 {
	border-right: ($separator-width / 2) solid $foreground-color-mid;
    }
    #nav-link4 {
	border-right: ($separator-width / 2) solid $foreground-color-mid;
    }

}

// Half-desktop
//@include mMedium {
//    
//}

// Tablet
@include mSmall {
   
    #page-title {
	&.show {
	    border-bottom: initial;
	}
    }	
    .end-block { // button block	
	&.show {
	    border-bottom: initial;
	}
    }

    #nav-link1 {
	border-top: ($separator-width) solid $foreground-color-mid;
    }
    #nav-link2 {
	border-top: ($separator-width) solid $foreground-color-mid;
    }

    
    #nav-link3 {
	border-right: initial;
	border-bottom: ($separator-width / 2) solid $foreground-color-mid;
    }
}

// Smartphones
// @include mXSmall {
// }

// Smartphones
@include mXXSmall {
// Now single file:
// i.e.
//  |     nav-1     |
//  ----------------
//  |      nav-2    |
//  ----------------
//  |     nav-3     | 
//  ----------------
//         .
//         .
//         .

    
    // Declare borders for this configuration
    #nav-link1 {
	border-right: initial;
    }
    #nav-link3 {
	border-right: initial;
	border-bottom: ($separator-width / 2) solid $foreground-color-mid;
    }
    #nav-link4 {
	border-right: initial;
	border-bottom: ($separator-width / 2) solid $foreground-color-mid;
    }
    #nav-link5 {
	border-bottom: ($separator-width / 2) solid $foreground-color-mid;
    }
}



