
// For hack/DRY in CV button when we hide it in this file in mSmall layout
@import '../../declarations/cv-animated-config';


////////////////////////////////////////////////
// Responsive styles for nameplate


// Roughly 4k
@include mStupidLarge {
}

// Above roughly 3000px width
@include mXXLarge {
}

// (Widescreen) Desktop First 
@include mXLarge {
}

// 2/3rd desktop
@include mLarge {
    
    // Hide the site logo (FRASER BROOKS) on large displays and under
    // TODO: still show FRASER BROOKS somewhere
    #site-logo {
	display: none;
    }

    .nav-break {
	display: initial
    }

    #page-title.show {
	.separator {
	    display: initial;
	}
    }
}

// Exactly half desktop
@include mMedium {
}

// First smaller than half desktop
// Size of some tablets
// Navbar now 3 rows & CV button now centered:
//
//    HOME  |CV|    X
//    --------------    
//   |  1   |  2   |
//   |     3      |
//   |  4  |  5   |
//   -------------
//
@include mSmall { // 832px w/ default font-size

    // Don't need to hide the cv button in this layout so
    // reinstate initial values for when hide tag applied
    // (rather than faffing about with the JavaScript)
    #cv-link {
	&.hide {
	    @include cv-link-animated-config;
	}
    }

    #page-title {
	padding-right: 0.2rem;
    }

    // Hide all separators from this layout onwards (smaller)
    .separator {
	display: none;
    }
    #page-title.show {
	.separator {
	    display: none;
	}
    }
}

// All Tablets now
@include mXSmall { // 640px w/ default font-size
}


// Small screen & massive font-size only
// Now single file:
// i.e.
//  |     nav-1     |
//  ----------------
//  |      nav-2    |
//  ----------------
//  |     nav-3     | 
//  ----------------
//         .
//         .
//         .
//
@include mXXSmall { // 480px w/ default font-size
}

// Ridiculously small/narrow for galaxy fold and kin
@include mStupidSmall { // 240px w/ default font-size
}

