



// Roughly 4k
@include mStupidLarge {
}

// Above roughly 3000px width
@include mXXLarge {
}

// (Widescreen) Desktop First 
@include mXLarge {
}

// 2/3rd desktop
@include mLarge {

    // TODO needed?
    // Remove padding on bottom 3 links
    #nav-link3 {
	padding: 0;
    }
    #nav-link4 {
	padding: 0;
    }
    #nav-link5 {
	padding: 0;
    }
    
}

// Exactly half desktop
@include mMedium {

    // TODO shrink + in dimen
    // Remove padding on navbar
    #nav-bar {
	padding-right: 0;
	padding-left: 0;
    }
}

// First smaller than half desktop
// Size of some tablets
// Navbar now 3 rows & CV button now centered:
//
//    HOME  |CV|    X
//    --------------    
//   |  1   |  2   |
//   |     3      |
//   |  4  |  5   |
//   -------------
//
@include mSmall { // 832px w/ default font-size
    
    // Add padding to page-title TODO why + in dimen
    #page-title {
	padding-left: 16px;
    }

}

// All Tablets now
@include mXSmall { // 640px w/ default font-size
}

// Small screen & massive font-size only
// Now single file:
// i.e.
//  |     nav-1     |
//  ----------------
//  |      nav-2    |
//  ----------------
//  |     nav-3     | 
//  ----------------
//         .
//         .
//         .
//
@include mXXSmall { // 480px w/ default font-size
    #nav-bar {
	 margin-right: $nav-link-padding-right/2;
	 margin-left: $nav-link-padding-left/2;
     }
}

// Ridiculously small/narrow for galaxy fold and kin
@include mStupidSmall { // 240px w/ default font-size
}



